.anchorPane{
  -fx-background-color: white;
}

.tab-pane {
	-mwfx-tab-background: derive(-fx-background,25%);
	-mwfx-tab-active: #55A5E4;

    -fx-tab-max-width: 10em;
}

.tab-pane > .tab-header-area {
	-fx-padding: 0 0.25em 0 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
	-fx-background-color: -fx-outer-border, transparent, -mwfx-tab-background;
	-fx-background-insets: 1 1 0 1, 0 0 1 0, 1;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
	-fx-background-color: -mwfx-tab-background;
	-fx-background-insets: 0 1 1 0;
	-fx-background-radius: 0;
	-fx-padding: 0.5em 0.25em 0.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
	-fx-background-color: -mwfx-tab-active, -mwfx-tab-background;
	-fx-background-insets: 0 1 0 0, 0 1 0.333333em 0;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
	-fx-background-color: derive(-mwfx-tab-active,35%), -mwfx-tab-background;
	-fx-background-insets: 0 1 0 0, 0 1 0.333333em 0;
}

.tab-pane .tab-label {
	-fx-text-fill: derive(-fx-text-base-color,35%);
}
.tab-pane .tab:selected .tab-label,
.tab-pane .tab:hover .tab-label {
	-fx-text-fill: #55A5E4;
}

.tab-pane .focus-indicator {
	visibility: hidden;
}


/* hide tab-close-button by default; show it only for selected tab and on hover */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
	-fx-background-color: transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-close-button,
.tab-pane > .tab-header-area > .headers-region > .tab:hover > .tab-container > .tab-close-button {
	-fx-background-color: -fx-mark-color;
	-fx-opacity: 0.4;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
	-fx-background-color: #0078D7;
	-fx-opacity: 1.0;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #a99;
    -fx-padding: 0 1 0 0;
}
.split-pane:horizontal .split-pane-divider .horizontal-grabber,
.split-pane:vertical .split-pane-divider .vertical-grabber {
    -fx-padding: 0.25em;
}


/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/
 
.btn {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-color : transparent;
/*    -fx-border-width:2;*/
    -fx-background-color: #0078D7;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
 
.btn:hover{
    -fx-background-color: #699ca7;
}
 
.btn:pressed, .btn:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}
 
.btn:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}
 
.btn:disabled, .btn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}
 
.btn:default
{
    -fx-background-color: #5585be;
    -fx-text-fill: #ffffff;
}
 
.btn:default:hover{
    -fx-background-color: #219297;
}